@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
}

canvas {
  vertical-align: top;
}

#app {
  min-height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 75px;
}

#canvas {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#ui {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

#controls {
  margin-bottom: 15px;
}

textarea {
  margin-left: 15px;
  min-width: 550px;
  font-size: 12px;
}

.limit-width {
  max-width: 600px;
  text-align: left;
}

button,
label.file-upload,
select {
  font-family: 'Open Sans', sans-serif !important;
  transition: all 0.2s ease-in;
  border: 1px solid rgb(169, 169, 169);
  background: none;
  padding: 2px 10px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}

button:hover,
label.file-upload:hover {
  background: rgba(0, 0, 0, 0.075);
}

input[type="file"] {
  display: none;
}

.ui-field {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

.ui-text {
  color: #aaa;
  font-size: 12px;
  margin-left: 20px;
  text-align: left;
}

.ui-label {
  text-align: left;
}

.ui-text.label {
  max-width: 100px;
  margin-left: 0;
}

.ui-value {
  padding-left: 20px;
  flex: 1;
}

.ui-buttons {
  display: inline-flex;
  flex-direction: column;
}

.ui-buttons button {
  margin-bottom: 5px;
}

.ui-value.slider {
  max-width: 400px;
  padding-left: 10px;
}

.info {
  margin-left: 0;
  text-align: left;
}

.irs-grid-text {
  display: none;
}

.inline-input-field {
  display: inline-flex;
  vertical-align: top;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single,
.irs--modern .irs-bar {
  background: #91d5ff !important;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  border-top-color: #91d5ff !important;
}